goto_page_with_page_number :

next_page J
previous_page K

screen_down <C-d>
screen_up <C-u>

prev_state <C-o>
next_state <S-<backspace>>

open_document_embedded <C-n>
open_document_embedded_from_current_path <C-N>

copy yy

command <C-:>

#toggle_dark_mode w

## Toggle custom color mode. You can specify the text background color in your `prefs_user.config` file
## see https://sioyek-documentation.readthedocs.io/en/latest/configuration.html#custom-background-color-and-custom-text-color
toggle_custom_color w

