# For more information see the documentation at https://sioyek-documentation.readthedocs.io/

# The color with which the screen is cleared before rendering the pdf (this is the background color of the application and not the PDF file)
background_color    0.13725490196078433 0.12941176470588237 0.21176470588235294
dark_mode_background_color    0.13725490196078433 0.12941176470588237 0.21176470588235294

# Highlight color when text is selected using mouse
text_highlight_color    0.9215686274509803 0.7372549019607844 0.7294117647058823

# Highlight color when text is a search match
search_highlight_color 0.9215686274509803 0.43529411764705883 0.5725490196078431

# Hihglight color for PDF links (note that highlight is off by default
# and can only be seen by performing a toggle_highlight command. See keys.config for more details)
link_highlight_color    0.19215686274509805 0.4549019607843137 0.5607843137254902

# Urls to use when executing external_search commands
search_url_s    https://scholar.google.com/scholar?q=
search_url_g    https://www.startpage.com/search?q=

# If set, we open a new sioyek window when a new file is opened, otherwise we open the file in the previous window
should_launch_new_window    0

## Semicolon-separated list of command to execute upon sioyek startup
startup_commands    toggle_custom_color

## Background color to use when executing `toggle_custom_color`
custom_background_color 0.09803921568627451 0.09019607843137255 0.1411764705882353
## Text color to use when executing `toggle_custom_color`
custom_text_color 0.8784313725490196 0.8705882352941177 0.9568627450980393

# Normally mouse wheel zooms in on the middle of the screen, but if this is set to 1, we zoom in on the cursor
wheel_zoom_on_cursor 1

## Color of status bar background
status_bar_color 0.13725490196078433 0.12941176470588237 0.21176470588235294
## Color of status bar text
status_bar_text_color 0.9215686274509803 0.7372549019607844 0.7294117647058823
## Font size of the status bar text
#status_bar_font_size 20

## Touchpad/scrollwhell sensitivity
touchpad_sensitivity 1.0

## Configure the appearance of page separator
page_separator_width 2
page_separator_color    0.13725490196078433 0.12941176470588237 0.21176470588235294

# Use a super fast index for search instead of the mupdf's implementation
super_fast_search 1
