/* :root { */
/*     --bg: #1a1b26; */
/*     --bg-dark: #16161e; */
/*     --bg-float: #16161e; */
/*     --bg-highlight: #292e42; */
/*     --bg-popup: #16161e; */
/*     --bg-search: #3d59a1; */
/*     --bg-sidebar: #16161e; */
/*     --bg-statusline: #16161e; */
/*     --bg-visual: #283457; */
/*     --black: #15161e; */
/*     --blue: #7aa2f7; */
/*     --blue0: #3d59a1; */
/*     --blue1: #2ac3de; */
/*     --blue2: #0db9d7; */
/*     --blue5: #89ddff; */
/*     --blue6: #b4f9f8; */
/*     --blue7: #394b70; */
/*     --border: #15161e; */
/*     --border-highlight: #27a1b9; */
/*     --comment: #565f89; */
/*     --cyan: #7dcfff; */
/*     --dark3: #545c7e; */
/*     --dark5: #737aa2; */
/*     --delta-add: #2c5a66; */
/*     --delta-delete: #713137; */
/*     --diff-add: #20303b; */
/*     --diff-change: #1f2231; */
/*     --diff-delete: #37222c; */
/*     --diff-text: #394b70; */
/*     --error: #db4b4b; */
/*     --fg: #c0caf5; */
/*     --fg-dark: #a9b1d6; */
/*     --fg-float: #c0caf5; */
/*     --fg-gutter: #3b4261; */
/*     --fg-sidebar: #a9b1d6; */
/*     --git-add: #449dab; */
/*     --git-change: #6183bb; */
/*     --git-delete: #914c54; */
/*     --git-ignore: #545c7e; */
/*     --gitSigns-add: #266d6a; */
/*     --gitSigns-change: #536c9e; */
/*     --gitSigns-delete: #b2555b; */
/*     --green: #9ece6a; */
/*     --green1: #73daca; */
/*     --green2: #41a6b5; */
/*     --hint: #1abc9c; */
/*     --info: #0db9d7; */
/*     --magenta: #bb9af7; */
/*     --magenta2: #ff007c; */
/*     --orange: #ff9e64; */
/*     --purple: #9d7cd8; */
/*     --red: #f7768e; */
/*     --red1: #db4b4b; */
/*     --teal: #1abc9c; */
/*     --terminal-black: #414868; */
/*     --warning: #e0af68; */
/*     --yellow: #e0af68; */
/* } */

label {
    color: #c0caf5;
    font-family: "JetBrainsMono NF";
    margin: 0 10px;
    font-weight: bold;
}

button {
    font-weight: normal;
    border: none;
    box-shadow: none;
    margin-bottom: -8px;
    margin-top: -8px;
    padding-right: 0;
    padding-left: 0;
}
