window-rule {
    draw-border-with-background false
}

window-rule {
    match app-id="^org\\.wezfurlong\\.wezterm$"
    default-column-width {}
}

window-rule {
    match app-id="^gimp$" title="Preferences"
    match app-id="firefox$" title="^Picture-in-Picture$"
    match app-id="floorp$" title="^Picture-in-Picture$"
    open-floating true
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match app-id="^com\\.gabm\\.satty$"
    open-floating true
    min-width 730
    min-height 300
}

window-rule {
    match app-id="steam" title="^notificationtoasts_\\d+_desktop$"
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match app-id="^org\\.keepassxc\\.KeePassXC$"
    match app-id="^org\\.gnome\\.World\\.Secrets$"
    block-out-from "screen-capture"
}

window-rule {
    match app-id="^com\\.ayugram\\.desktop$" title="^Media viewer$"
    match app-id="^org\\.telegram\\.desktop$" title="^Media viewer$"
    open-floating true
}

window-rule {
    match app-id="feh"
    open-floating true
}


window-rule {
    match title=".*Bitwarden.*"
    block-out-from "screen-capture"

    tab-indicator {
        inactive-color "darkred"
    }
}

window-rule {
    match app-id="floorp" title=r#"^Extension: .*Bitwarden.*"#
    open-floating true
    default-floating-position x=10 y=10 relative-to="top-right"
}

window-rule {
    match app-id="^org\\.telegram\\.desktop$"
    match app-id="^com\\.ayugram\\.desktop$"
    match app-id="^org\\.gnome\\.Fractal$"
    match app-id="discord"
    match app-id="vesktop"
    match app-id="spotify"
    match app-id="Element"

    exclude app-id="^com\\.ayugram\\.desktop$" title="^Media viewer$"
    exclude app-id="^org\\.telegram\\.desktop$" title="^Media viewer$"

    opacity 0.9
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="mpv"
    open-fullscreen true
}

window-rule {
    match app-id="^com\\.ayugram\\.desktop$" title="^Media viewer$"
    match app-id="^org\\.telegram\\.desktop$" title="^Media viewer$"
    open-maximized true
}

window-rule {
    match app-id="^Alacritty$"
    match app-id="^com\\.mitchellh\\.ghostty$"
    background-effect {
        blur true
    }
}
