/* Rosé Pine Dark Palette */
@define-color window_bg_color #232136; /* base */
@define-color window_fg_color #e0def4; /* text */

/* View styling */
@define-color view_bg_color #232136;
@define-color view_fg_color #e0def4;

/* Header bar */
@define-color headerbar_bg_color #2a273f;
@define-color headerbar_backdrop_color #2a273f;
@define-color headerbar_fg_color #e0def4;

/* Popovers and dialogs */
@define-color popover_bg_color #232136;
@define-color popover_fg_color #e0def4;

@define-color dialog_bg_color @popover_bg_color;
@define-color dialog_fg_color @popover_fg_color;

/* Cards and sidebars */
@define-color card_bg_color #363449;
@define-color card_fg_color #e0def4;

@define-color sidebar_bg_color #232136;
@define-color sidebar_fg_color #e0def4;
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color sidebar_border_color #393552;

@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_fg_color @sidebar_fg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_backdrop_color;
@define-color secondary_sidebar_border_color @sidebar_border_color;

/* Rosé Pine accent colors */
@define-color blue_1 #9ccfd8;
@define-color blue_2 #c4a7e7;
@define-color blue_3 #3e8fb0;
@define-color blue_4 #569fba;
@define-color blue_5 #6c77bb;

@define-color green_1 #ea9a97;
@define-color green_2 #ebbcba;
@define-color green_3 #3e8fb0;
@define-color green_4 #9ccfd8;
@define-color green_5 #569fba;

@define-color yellow_1 #f6c177;
@define-color yellow_2 #ea9d34;
@define-color yellow_3 #ebbcba;
@define-color yellow_4 #d7827e;
@define-color yellow_5 #ea9a97;

@define-color orange_1 #ea9a97;
@define-color orange_2 #d7827e;
@define-color orange_3 #eb6f92;
@define-color orange_4 #f6c177;
@define-color orange_5 #ea9d34;

@define-color red_1 #eb6f92;
@define-color red_2 #b4637a;
@define-color red_3 #eb6f92;
@define-color red_4 #d7827e;
@define-color red_5 #ea9a97;

@define-color purple_1 #c4a7e7;
@define-color purple_2 #908caa;
@define-color purple_3 #6e6a86;
@define-color purple_4 #9ccfd8;
@define-color purple_5 #3e8fb0;

@define-color brown_1 #555169;
@define-color brown_2 #6e6a86;
@define-color brown_3 #908caa;
@define-color brown_4 #c4a7e7;
@define-color brown_5 #555169;

@define-color light_1 #e0def4;
@define-color light_2 #908caa;
@define-color light_3 #6e6a86;
@define-color light_4 #c4a7e7;
@define-color light_5 #555169;

@define-color dark_1 #393552;
@define-color dark_2 #2a273f;
@define-color dark_3 #232136;
@define-color dark_4 #191724;
@define-color dark_5 #16141f;

toast {
    background-color: @window_bg_color;
    color: @window_fg_color;
}

toggle:checked {
  background-color: @card_bg_color;
  color: @window_fg_color;
}

.inline {
	background-color: rgba(0, 0, 0, 0);
}


@define-color accent_bg_color #6c77bb;
@define-color accent_fg_color @window_bg_color;