output "DP-1" {
    mode "2560x1440@180.002"
    scale 1
    transform "normal"
    hot-corners {
        off
    }
    position x=0 y=0
    focus-at-startup
    variable-refresh-rate on-demand=true
    background-color "#000"
    backdrop-color "#000"
}

output "DP-2" {
    mode "1920x1080@74.973"
    scale 1
    transform "90"
    position x=2560 y=-330
    hot-corners {
        off
    }
    background-color "#000"
    backdrop-color "#000"
    layout {
        default-column-width {
            proportion 1.0
        }
    }
}

output "HDMI-A-1" {
    mode "1920x1080@60"
    scale 1
    position x=-1920 y=270
    hot-corners {
        off
    }
    background-color "#000"
    backdrop-color "#000"
}
