// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

include "includes/common/animations.kdl"
include "includes/common/binds.kdl"
include "includes/common/cursor.kdl"
include "includes/common/environment.kdl"
include "includes/common/hotkey-overlay.kdl"
include "includes/common/input.kdl"
include "includes/common/layer-rules.kdl"
include "includes/common/layout.kdl"
include "includes/common/preferences.kdl"
include "includes/common/startup.kdl"
include "includes/common/window-rules.kdl"

include "includes/laptop/binds.kdl"
include "includes/laptop/cursor.kdl"
include "includes/laptop/input.kdl"
include "includes/laptop/outputs.kdl"
include "includes/laptop/startup.kdl"
include "includes/laptop/window-rules.kdl"
include "includes/laptop/workspaces.kdl"
