[helpers]

[default]
depends = [  ]

[default.files]
LICENSE = ""
"README.md" = ""

[default.variables]

[settings]
default_target_type = "symbolic"

[base]
depends = [ "default", "zsh", "spotify", "terminal", "local", "misc", "dev", "apps", "gtk" ]

[x11]
depends = [ "base", "awesome", "picom", "dunst", "rofi" ]

[x11.files]
"config/zsh/.zprofile-x11" = "~/.config/zsh/.zprofile"
"config/x11/" = "~/.config/x11/"
"config/x11/xresources" = {target = "~/.config/x11/xresources", type = "template"}

[x11-laptop]
depends = [ "base", "awesome_laptop", "picom", "dunst", "rofi" ]

[x11-laptop.files]
"config/zsh/.zprofile-x11" = "~/.config/zsh/.zprofile"
"config/x11/" = "~/.config/x11/"
"config/x11/xresources" = {target = "~/.config/x11/xresources", type = "template"}

[wayland]
depends = [ "base", "hyprland", "niri", "fuzzel", "mako" ]

[wayland.files]
"config/zsh/.zprofile-wayland" = "~/.config/zsh/.zprofile"
"config/x11/xresources" = {target = "~/.config/x11/xresources", type = "template"}

[shell.files]
"config/shell/" = "~/.config/shell/"

[zsh]
depends = [ "shell" ]

[zsh.files]
"config/shell/env" = {target = "~/.zshenv", type = "template"}
"config/zsh/" = "~/.config/zsh/"

[fish]
depends = [ "shell" ]

[fish.files]
"config/fish/" = "~/.config/fish/"

[local.files]
"local/bin/" = "~/.local/bin/"
"local/share/" = "~/.local/share/"
"local/share/applications/text.desktop" = {target = "~/.local/share/applications/text.desktop", type = "template"}
"local/share/applications/file.desktop" = {target = "~/.local/share/applications/file.desktop", type = "template"}

[rofi.files]
"config/rofi/" = "~/.config/rofi/"
"config/rofi/config.rasi" = {target = "~/.config/rofi/config.rasi", type = "template"}

[fuzzel.files]
"config/fuzzel/" = "~/.config/fuzzel/"

[misc]
depends = [ "torrent", "zathura", "email" ]

[misc.files]
"config/bat/" = "~/.config/bat/"
"config/tmThemes/" = "~/.config/silicon/"
"config/btop/" = "~/.config/btop/"
"config/htoprc" = "~/.config/htop/htoprc"
"config/fastfetch/" = "~/.config/fastfetch/"
"config/flameshot.ini" = "~/.config/flameshot/flameshot.ini"
"config/gitui/" = "~/.config/gitui/"
"config/lazygit/" = "~/.config/lazygit/"
"config/git/" = "~/.config/git/"
"config/jj/" = "~/.config/jj/"
"config/mpv/" = "~/.config/mpv/"
"config/lf/" = "~/.config/lf/"
"config/paru.conf" = "~/.config/paru/paru.conf"
"config/nsxiv/" = "~/.config/nsxiv/"
"config/wgetrc" = "~/.config/wget/wgetrc"
"config/rsftch.json" = "~/.config/rsftch/info.json"

[zathura.files]
"config/zathura/zathurarc" = "~/.config/zathura/zathurarc"

[torrent.files]
"config/rustmission.toml" = "~/.config/rustmission/config.toml"
"config/traxor/" = "~/.config/traxor/"
# "config/transmission-daemon.json" = "~/.config/transmission-daemon/settings.json"

[awesome.files]
"config/awesome/json.lua" = "~/.config/awesome/json.lua"
"config/awesome/mytheme.lua" = "~/.config/awesome/mytheme.lua"
"config/awesome/rc.lua" = {target = "~/.config/awesome/rc.lua", type = "template"}

[awesome_laptop.files]
"config/awesome/json.lua" = "~/.config/awesome/json.lua"
"config/awesome/mytheme.lua" = "~/.config/awesome/mytheme.lua"
"config/awesome/rc-laptop.lua" = {target = "~/.config/awesome/rc.lua", type = "template"}

[dunst.files]
"config/dunst/" = "~/.config/dunst/"

[mako.files]
"config/mako/" = "~/.config/mako/"

[niri]
depends = [ "misc", "local", "waybar", "lock" ]

# [niri.files]
# "config/niri/" = "~/.config/niri/"

[hyprland]
depends = [ "misc", "local", "eww", "lock" ]

[hyprland.files]
"config/hypr/" = "~/.config/hypr/"
"config/hypr/hyprland.conf" = {target = "~/.config/hypr/hyprland.conf", type = "template"}

[wofi.files]
"config/wofi/" = "~/.config/wofi/"

[eww.files]
"config/eww/" = "~/.config/eww/"

[hypridbar.files]
"config/Hypridbar/" = "~/.config/HybridBar/"

[waybar.files]
"config/waybar/" = "~/.config/waybar/"
"config/waybar/config.jsonc" = {target = "~/.config/waybar/config.jsonc", type = "template"}
"config/waybar/style.css" = {target = "~/.config/waybar/style.css", type = "template"}

[lock.files]
"config/gtklock/" = "~/.config/gtklock/"
"config/swaylock.conf" = "~/.config/swaylock/config"

[picom.files]
"config/picom.conf" = "~/.config/picom/picom.conf"

[spotify.files]
"config/spotify-tui.yml" = "~/.config/spotify-tui/config.yml"

[email.files]
"config/neomutt/" = "~/.config/neomutt/"

[terminal]
depends = [ "zsh", "tmux", "fish" ]

[terminal.files]
"config/alacritty/" = "~/.config/alacritty/"
"config/alacritty/alacritty.toml" = {target = "~/.config/alacritty/alacritty.toml", type = "template"}
"config/starship.toml" = "~/.config/starship/starship.toml"
"config/ghostty/" = "~/.config/ghostty/"
"config/ghostty/config" = {target = "~/.config/ghostty/config", type = "template"}
"config/xdg-desktop-portal-termfilechooser/" = "~/.config/xdg-desktop-portal-termfilechooser/"

[tmux.files]
"config/tmux/" = "~/.config/tmux/"
"config/sesh/" = "~/.config/sesh/"

[xplr.files]
"config/xplr/" = "~/.config/xplr/"

[yazi.files]
"config/yazi/" = "~/.config/yazi/"

[typst.files]
"config/typstfmt.tom" = "~/.config/typstfmt/typstfmt.toml"

[dev.files]
"config/sqruff/" = "~/.config/sqruff/"
"config/asm-lsp/" = "~/.config/asm-lsp/"
"config/containers/" = "~/.config/containers/"


[apps.files]
"config/Vencord/" = "~/.config/Vencord/"
"config/obs-studio/" = "~/.config/obs-studio/"

[gtk.files]
"config/gtk-3.0/" = "~/.config/gtk-3.0/"
"config/gtk-4.0/" = "~/.config/gtk-4.0/"
